@page "/Create"
@model RazorAuthDemo.Pages.CreateModel
@{

}
<link rel="stylesheet" href="~/css/site.css" />

<div id="Login_box">
    <p id="Text-36px-fw700">Add Project</p>
    <form name="Form_create" id="Input_form" method="post">
        <p id="Input_text">Project Name</p>
        <input asp-for="Project_Name" class="input-1" id="Input_spot" placeholder="Project Name" name="Pname">
        <p id="Input_text">Client Name</p>
        <input asp-for="Project_Client" class="input-2" id="Input_spot" placeholder="Client Name">
        <p id="Input_text">Description</p>
        <input asp-for="Description" class="input-3" id="Input_spot" placeholder="Type something">
        <p id="Input_text">Start Date</p>
        <input asp-for="StartDate" class="input-4" id="Input_spot" placeholder="Start date">
        <p id="Input_text">End Date</p>
        <input asp-for="EndDate" class="input-5" id="Input_spot" placeholder="End date">
        <p id="Input_text">Budget</p>
        <input asp-for="Budget" class="input-6" id="Input_spot" placeholder="0">
        <input asp-for="State" class="input-7" id="Input_spot" placeholder="State">

        <button id="Login_submit" type="submit">Create</button>
    </form>
</div>
<script>
    function Emptycheck() {
        let i = 1;
        while(i <= 7) {
            var name = ".input-" + i;
            var check = document.querySelector(name).value;
            if (check == "" || check == null) {
                console.log("empty");
                return false;
                // make red where empty
            }
            i++;
        }
    }
</script>