@page
@model RazorAuthDemo.Pages.CreateModel
@{

}
<link rel="stylesheet" href="~/css/site.css" />

<div id="Login_box">
    <p id="Text-36px-fw700">Create Account </p>
    <form id="Input_form" method="post">
        @* <p id="Input_text">Full Name</p> *@
        @* <input asp-for="Name" id="Input_spot" placeholder="Your full name"> *@
        <input asp-for="Project_Name" id="Input_spot" placeholder="name">
        <input asp-for="Project_Client" id="Input_spot" placeholder="Client">
        <input asp-for="Description" id="Input_spot" placeholder="Client">
        <input asp-for="StartDate" id="Input_spot" placeholder="Client">
        <input asp-for="EndDate" id="Input_spot" placeholder="Client">
        <input asp-for="Budget" id="Input_spot" placeholder="Client">

        <button id="Login_submit" type="submit">Create</button>
    </form>
</div>
