@page
@model Index1Model
@{

}
<link rel="stylesheet" href="~/css/site.css" />


<div id="Login_box" style="height: 60%">
    <p id="Text-36px-fw700">Login</p>
    <form id="Input_form" method="post" onsubmit="return Emptycheck()>
        <p id="Input_text">Full Name</p>
        <input asp-for="Name" class="input-1" id="Input_spot" placeholder="Name" />
        <p id="Input_text">Password</p>
        <input asp-for="Password" class="input-2" type="password" id="Input_spot" placeholder="Password" />
        <button id="Login_submit" type="submit">Login</button>
    </form>
    <p id="start_s">Don't have an account? <a asp-page="/Index">Register</a></p>
</div>
<script>
    function Emptycheck() {
        let i = 1;
        while(i <= 2) {
            var name = ".input-" + i;            
            var check = document.querySelector(name).value;
            if (check == "" || check == null) {
                var temp = document.querySelector(name);
                temp.style.borderColor = "red";
                return false;
            }
            i++;
        }
        return true;
    }
</script>